*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
   
}
.text p{
    font-family: georgia;
    color: rgb(9 219 200);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 20px;
    margin-left: 5%;
}
nav{
    width: 100%;
    position: absolute;
    top: 4%;
    left: 33%;
   
    border-radius: 150px;
    display: flex;
    padding: 3px;    
    float: left;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}
nav ul li a{
    text-decoration: none;
    font-family: Georgia;
    color: rgb(43 178 166);
    font-size: 25px;
    box-shadow: 0 10px 25px rgb(18 235 255 / 55%);
    border: 3px solid rgb(45 255 247 / 100%);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgb(5 21 22 / 55%);
    
    
}
nav ul li a:hover{
    transition: .3s;
    color: #05f4ef;
}


.card {
    margin: 6rem auto;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 10px 25px rgb(18 235 255 / 55%);
    border: 3px solid rgb(45 255 247 / 100%);
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0.5rem 1rem;
    color: rgb(9 219 200);
    font-size: 20px;
    font-weight: bolder;
}

.card p {
    margin: 0.5rem 1rem;
    color: rgb(9 219 200);
    font-size: 16px;
    
}

.card strong {
    color: rgb(9 219 200);
    font-size: 20px;
    font-weight: bolder;
}

.amenities {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(45 255 247 / 100%);
   
}

.amenities h2 {
    text-align: center;
    color: #009688fa;
}

.amenities ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    color: #009688fa;
}

.amenities li {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    text-indent: -1.5rem;
}

.amenities li:before {
    content: "✔";
    color: #05e3ff;
    margin-right: 0.5rem;
    border: 3px solid rgb(45 255 247 / 100%);
    box-shadow: 0 5px 100px rgb(18 235 255);
}

footer {
    text-align: center;
    padding: 1rem;
    color: #fff;
}

